@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.button_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .add_button {
    margin: 0 5px;
  }
}
.available_table {
  border-bottom: 1px solid black;
}